

















<!-- <div class="container">
  <div class="col-md-4">
    <div class="bg-primary p-4 text-center">
      <h2>Reactive Forms</h2>
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="handleSubmit()">
      <div class="form-group">
        <label for="">enter name:</label>
        <input type="text" name="name" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label for="">enter age:</label>
        <input type="number" name="age" class="form-control"  formControlName="age">
      </div>
      <div class="form-group">
        <label for="">enter email:</label>
        <input type="text" name="email" class="form-control"  formControlName="email">
      </div>
      <br>
      <div class="d-grid">
        <input type="submit" value="submit" class="btn btn-primary">
      </div>
    </form>
  </div>
</div> -->


<!-- <app-tdf></app-tdf> -->
<!-- <app-header></app-header> -->
<!-- <div class="container">
  <h2>observable is Angular</h2>
  <div class="data-list" *ngFor="let x of data">
    {{x}}
  </div>
  <button (click)="getData()" class="btn">Get Data</button>
</div> -->


<!-- <ul *ngfor="let bk of softBooks">

  ID: {{bk.id}}, Name:{{bk.name}},category: {{bk.category}}

</ul> -->

<!--
<h3>Router Link Example</h3>
<a [routerLink]="['/student']">Student</a>
<br>
<a [routerLink]="['/studentDetails']">Student-Details</a>
<br>

<button (click)="student()"> Show Students</button>


<div>
  <router-outlet></router-outlet>

</div> -->






























<!-- <h1>Jai Shree Ram</h1>
<h4>1.this pipe for currency conveter</h4>
<br>
 <h4>2.This pipe is for DateAndTime</h4>
 <h2>{{mydate}}</h2>

<h2>Your message: {{_msg}}</h2>
 <button (click)="getmessage()">sitaRam</button>

<app-students-data></app-students-data>
<br>
<app-students-list></app-students-list> -->
