.example-spacer {
    flex: 1 1 auto;
  }
.mat-elevation-z8{
margin-top:5%;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.text{
  color:white;
  /* word-spacing: 10px; */
}

.main-body{
  padding-top: 20px;
  max-width:1248px;
  margin: 0 auto;
}
mat-form-field{
  width: 100%;
}
.action{
  display: flex;
  gap: 5px;
}
.user{
  position: absolute; 
  bottom: 0;
margin-left: 47% ;
margin-bottom: 2%;

}
/* .btn-2{
  color: red;
  
}
.btn-1{
  color: green;
} */

/* .container{
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/images/bg1.jpeg);
  background-size: cover;
}
.container::-webkit-scrollbar {
  display: none;
} */