
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="bg-primary p-3 text-center">
        <h2>Template Driven Form</h2>
      </div>
      <form #newForm="ngForm" (ngSubmit)="save(newForm)">
        {{newForm.value | json}}
        <hr>
        {{std | json}}
         <hr>

        <div class="form-group">
          <label for="">Enter: Name</label>
          <input type="text" name="name" [(ngModel)]="std.name" class="form-control" placeholder="Enter Name" ngModel>
        </div>
        <div class="form-group">
          <label for="">Enter: Age</label>
          <input type="number" name="age" [(ngModel)]="std.age" class="form-control" placeholder="Enter age" ngModel>
        </div>
        <div class="form-group">
          <label for="">Enter: Email</label>
          <input type="text" name="email"  [(ngModel)]="std.email" class="form-control" placeholder="Enter email" ngModel>
        </div>
        <br>
        <div class="d-grid">
          <input type="submit"  value="submit" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>
